@model IEnumerable<VinylStore.Entities.Genre>
@{
    ViewBag.Title = "Продукти";
}

@section styles
{
    <link href="~/Content/css/products.css" rel="stylesheet" />
}

@foreach(Genre genre in Model)
{
    <section class="products">
        <header>
            <h2>@genre.Name</h2>
        </header>
        <article>
            @foreach(Product product in genre.Vinyls)
            {
            <div>
                <img src="@product.VinylImgPath" alt="@product.Title" />
                <p>@product.Artist</p>
                <p>@product.Title</p>
                <p class="price">@product.Price лв.</p>

                @if (product.OnSale)
                {
                    <span>Промоция!</span>
                }
                @if (Session["loggedUser"] != null && ((User)Session["loggedUser"]).Id == 2)
                {
                    <a id="edit" href="/Products/Edit/@product.Id">Редактирай</a>
                }
                else
                {
                    <a href="">Добави</a>
                }
            </div>
            }
        </article>
    </section>
}