@model VinylStore.ViewModels.Account.LoginVM
@{
    ViewBag.Title = "Влез";
}

@section styles
{
    <link href="~/Content/css/register.css" rel="stylesheet" />
}

<section id="form-container">
    <header>
        <i class="fa fa-user-o" aria-hidden="true"></i>
        <h2>Влез</h2>
        <p>И си купи чудесни грамофонни плочи :).</p>
    </header>

    <div class="form">
        <form action="/Account/Login" method="post">
            @Html.ValidationMessage("AuthenticationFailed")

            @Html.ValidationMessageFor(m => m.Username, null)
            @Html.TextBoxFor(m => m.Username, new { placeholder = "Никнейм" })
            @Html.ValidationMessageFor(m => m.Password, null)
            @Html.PasswordFor(m => m.Password, new { placeholder = "Парола" })

            <button type="submit">Влез</button>
        </form>
    </div>

    <p>Нямаш акаунт? <a href="/Account/Register">Направи си.</a></p>
</section>
